.contenMenu{
    border: 1px solid gray;
    text-align: center;
    height: 207px;
    padding: 16px;
}

.iconsize{
    font-size:6em;
}

.iconOpSize {
    font-size:2em;
}

.search{
    width: 314px;
    margin-bottom: 20px;
}

.sizeImg{
    width: 6em;
}